html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("/img/background.png");
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #222;
    -webkit-box-shadow: 1px 0px 3px 1px #000;
    box-shadow: 1px 0px 5px 2px #000;
}
.sidebar *{
    opacity: 1.0;
}
.sidebar h2{
    text-align: center;
}
.charts{
    margin-left: 300px;
    padding: 30px;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}
.tags{
    width: 80%;
}
#tags_chzn{
    margin: 10px auto;
    display: block;
}
