html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("/img/background.png");
    overflow-x:hidden;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;;
}
.wrapper{
    height: 100%;
}
.header, .footer{
    padding: 10px 0;
}
.header{
    box-shadow: 0 1px 3px 0 #333;
    background-image: url("/img/background.png");
    z-index: 100;
}
.footer{
    border-top: 1px dashed #666;
}
.top_menu, .bottom_menu{
    text-align: center;
    width: 1024px;
    margin: 0 auto;
}
.bottom_menu{
    font-size: 0.8em;
    padding: 10px 0;
}
.bottom_menu .menu_item{
    margin: 0 10px;
}
.top_menu .menu_item{
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.top_menu .menu_item a{
    color: #000;
    transition: all 0.3s ease-in-out;
    text-shadow: 0px 1px 1px #fff;
}
.top_menu .menu_item:hover, .top_menu .menu_item.active{
    background-color: #559;
    box-shadow: inset 0 0 5px 0 #111;
}
.top_menu .menu_item:hover a, .top_menu .menu_item.active a{
    color: #fff;
    text-shadow: 0px 1px 1px #000;
}
.content{
    padding-top: 10px;
    width: 1024px;
    min-height: 300px;
    margin: 0 auto;
    /*text-shadow: 1px 1px 0px #fff;*/
}
.tags{
    width: 80%;
}
#chart{
   /* height: 320px;
    width: 620px;*/
    margin: 30px 0;
}
.tests_table{
    border-collapse: collapse;
    background-color: #F3F3F3;
    box-shadow: 0 1px 3px 0 #000;
}
.tests_table thead, .tests_table tfoot{
    /*background-color: #99A9AD;
    background-color: #1171a3;*/
    background-image: url(/img/white_carbonfiber.png);
    text-shadow: none;
    color: #222;
}
.tests_table tfoot td{
    padding: 20px 10px;
    line-height: 13px;
    vertical-align: middle;
}
.tests_table .test_row{
    cursor: pointer;
}
.tests_table .test_row.selected{
    background-color: #fff;
}
.tests_table th{
    /*border:1px solid #1191a3;*/
    border:1px solid #666;
    text-align: center;
    padding: 5px 10px;
}
.tests_table td{
    border:1px solid #bbb;
    text-align: center;
    padding: 5px 10px;
}
.tests_table .chart_settings{
    text-align: left;
}
.tests_table tbody{
    max-height: 400px;
    overflow-y: auto;
}
.button{
    float: none;
    margin: 0 0 0 5px;
    box-shadow: 0 1px 3px 0 #222;
}

.tags{
    display: inline-block;
    width: 650px;
    margin: 0 10px;
}
#search .tags{
    width: 760px;
}
.axe{
    width: 130px;
 }
.chzn-container, .button{
    vertical-align: middle;
    color: #000;
    text-shadow: none;
}
#search{
    margin-bottom: 20px;
}
.tests_table .tip_in_table{
    padding: 50px 0;
    color: #393;
}
.tests_table .tip_in_table.error{
    color: #933;
}
.test_data_container{
    position: fixed;
    left: 30%;
    top: 10%;
    width: 40%;
    height: 80%;
    display: none;
    border: 2px solid #666;
    box-shadow: 0 1px 3px 0 #333;
    background-color: #fff;
    color: #000;
}

.test_data{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.test_data pre{
    margin: 0;
}
.close_test_data{
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 1;
}

